
**/node_modules/
**/dist/
**/build/
.eslintcache
*.local
.env.local
.env.*.local

**/[Bb]in/
**/[Oo]bj/
**/out/
*.user
appsettings.Development.json
appsettings.*.json
!appsettings.json

.vscode/
.idea/
*.suo
*.userossc
*.sln.docstates

*.db
*.db-shm
*.db-wal
.DS_Store